body {
    background-image: url("../img/background.svg");
    background-repeat: repeat;
    background-size: 100%;

    font-family: 'Nunito', sans-serif;
}

header {
    text-align: center;
    color: #DBC6D9;
}

.main-carousel {
    width: 90%;
    left: 4.5%;
    margin-top: 2%;
}

.carousel-cell {
    width: 100%;
    height: 500px;

    text-align: center;

    color: #DBC6D9;
    background-color: rgba(91, 48, 106, 0.1);

    border-radius: 30px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.content h1 {
    margin-bottom: 5%;
}

.content img {
    margin-bottom: 3%;
}

button {
    margin-top: 15%;
    background-color: #49A747;
    border: none;
    border-radius: 10px;

    color: white;
    font-size: 1.3em;
    width: 180px;
}

button:hover {
    cursor: pointer;
}

input {
    border: none;
    border-bottom: 1px #DBC6D9 solid;
    background-color: transparent;   

    color: #DBC6D9;
}

input:focus {
    outline: none;
}

#regressiveCount {
    font-size: 4em;
}